<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">      
  <link rel="stylesheet" type="text/css" media="screen" href="/css/forms.css" />
</head>
<body>
    <div class="back-button"><a href="/profile/<%=currentUser.username%>">
      <i class="fas fa-arrow-left fa-5x"></i></a>
    </div>

  <div class="login-page">
<form action="/profile/post" method="post" class="login-form" enctype="multipart/form-data">
  <div class="form">
    <h4>Edit your page</h4>
    <input class="login-form" id="upload"  type="file" name="newPost" accept="image/jpg"> 
    <input  type="text" placeholder="Story" name="content" id="content" required>
    <button type="submit" id="submit" class="signupbtn">Post</button>
  </form>
  </div>
</div>


  
</body>
</html>