
<% include partials/header %>

      <div class="android-content mdl-layout__content">
        <a name="top"></a>
        <div class="android-be-together-section mdl-typography--text-center">
          <div class="logo-font android-slogan">Different perspectives. Same needs.</div>
          <div class="logo-font android-sub-slogan"> 
            <div>New refugees have immediate needs, including furniture, clothing, 
            food, dishes and legal paperwork. Help provide for newcomers in your 
            area and aid in their integration to society with open loving arms! 
            Any amount is appreciated.</div>
          </div>
        </div>

        <div class="section-title">Most in Need</div>
        <div class="different-color-container">
          <div class="slideshow-container">

              <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="/css/res/refugee-slideshow.jpg" style="width:100%">
                <div class="text">Female refugees from Syria</div>
              </div>
            
              <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="/css/res/refugee-slideshow2.jpg" style="width:100%">
                <div class="text">Mother from Sudan</div>
              </div>
            
              <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="/css/res/refugee-slideshow3.jpg" style="width:100%">
                <div class="text">Mohamed and Christina</div>
              </div>
            
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
            
            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span> 
              <span class="dot" onclick="currentSlide(3)"></span> 
            </div>
        </div>
       
        <div id="stories" class="section-title">Stories</div>
        <div class="android-more-section">
          <div class="android-card-container mdl-grid">
            <% for (var i = 0; i < users.length; i++) { %>
              <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                <div class="mdl-card__media">
                  <img src="/css/res/more-from-1.png">
                </div>
                <div class="mdl-card__title">
                  <h4 class="mdl-card__title-text"><%= users[i].username %></h4>
                </div>
                <div class="mdl-card__supporting-text">
                  <span class="mdl-typography--font-light mdl-typography--subhead"><%= users[i].description %></span>
                </div>
                <div class="mdl-card__actions">
                  <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/profile/<%= users[i].username %>">
                    Help <%= users[i].username %>!
                    <i class="material-icons">chevron_right</i>
                  </a>
                </div>
              </div>
            <% } %>
        <!-- Hard Coded stories -->            
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                <div class="mdl-card__media">
                  <img src="/css/res/refugee2.jpg">
                </div>
                <div class="mdl-card__title">
                  <h4 class="mdl-card__title-text">Son Byeok</h4>
                </div>
                <div class="mdl-card__supporting-text">
                  <span class="mdl-typography--font-light mdl-typography--subhead">Son Byeok was a propaganda artist. His father drowned on their first attempt to cross the Tumen River, in 2000. When the artist finally left North Korea in 2001, he managed to bring photos of his family with him.</span>
                </div>
                <div class="mdl-card__actions">
                  <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/profile/">
                    Help Son Byeok!
                    <i class="material-icons">chevron_right</i>
                  </a>
                </div>
              </div>

              <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="/css/res/refugee3.jpg">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">Family from Turkey</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">This family made the dangerous journey by sea from Turkey, seeking safety and a new life in Europe. After an entire month of dangerous travelling, they made it to Greece and eventually into Germany, applying for the asylum there.  Help them get started.</span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/profile/">
                      Help this family!
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>

                  <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                      <div class="mdl-card__media">
                        <img src="/css/res/refugee1.jpg">
                      </div>
                      <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Family from Sudan</h4>
                      </div>
                      <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">Family from Sudan forced to move out of the Madrid reception centre that had been their home for a year. Relative strangers in a foreign land, they are struggling to find their feet after being resettled to Spain from a hot, dusty camp in Tunisia a year ago.</span>
                      </div>
                      <div class="mdl-card__actions">
                        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/profile/">
                          Help this family!
                          <i class="material-icons">chevron_right</i>
                        </a>
                      </div>
                    </div>
            
          </div>
        </div>

       
                


<% include partials/footer %>
        
