     
     <html>
            <head>
              <title>Login</title>
             <link rel="stylesheet" href="/css/forms.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
         </head>
         
         </body>  
      <div class="back-button"><a href="/"><i class="fas fa-arrow-left fa-5x"></i></a></div>

      <div class="login-page">
            <div class="form">
              <!-- <form class="register-form" method="post" action="/login">
                <input type="text" placeholder="name" required/>
                <input type="password" placeholder="password" required/>
                <input type="text" placeholder="email address" required/>
                <button>create</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
              </form> -->
              <form class="login-form" method="post" action="/login">
                <input type="text" placeholder="Username" name="username" required/>
                <input type="password" title="Must be at least 8 characters with one number and symbol"  id="psw" placeholder="Password" name="password" required/>
                <button type="submit" id="submit">login</button>
                <p class="message">Not registered? <a href="/signup">Create an account</a></p>
              </form>
            </div>
          </div>
    
</body>
</html>