<% include partials/header %>

<form action="/profile/post" method="post" >
  <div class="container">
    <h4>Share a post</h4>

  

    
    <input type="text" placeholder="Title" name="title" required>
      <br><br>

 <textarea name="content" placeholder="Share your story"></textarea>

<br>
    
 
<br>
      


      
      <button type="submit" id="submit" class="signupbtn">Post</button>
    </div>

</form>

<% include partials/footer %>